*{
    padding: 0
    margin ： 0;
}
header ul{
    text-align: center;
    top: 0;
}
header{
    background-color:black;
    position: relative;
    right: 0px;
    top: 0%;
}
header a{
    color: white;
    text-decoration: none;
}header a:hover{
    text-decoration: underline;
}
header li{
    display: inline;
    margin-right: 3vw;
}
.limy{
    background-image: url(image/lamylogo.png);
    background-size: cover;
    background-color: palevioletred;
    padding: 2px 5px 6px;
    color: palevioletred;
    background-repeat: no-repeat;
}
.new{
    background-image: url(image/第二层.png);
    width: 100%;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.box{
    position: absolute;
   top: 45vw;
   left: 45vw;
   width: 300px;
   height: 100px;
   text-align: left;
}
.product-grid {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100px;
  }
  .btn {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    
  }
  .a{ display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;}
  .b{
    background-image: url(image/第五层.png);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.c{ display: flex;
    justify-content: center;
    align-items: center;
}
.d{

}